html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
}

p,
label,
a,
span {
    font-size: 12px;
    color: #393939;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 6px;
    text-decoration: none;
}

.sidebar a.active-link {
    background-color: #4CAF50;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #2a2a2a;
    color: white;
}

.content {
    margin-left: 300px;
}

.dashboard-card {
    background-color: white;
    border: 1px solid gainsboro;
    border-left: 2px solid rgb(57, 57, 57);
    color: rgb(58, 58, 58);
}

.dashboard-card h1 {
    font-weight: 800;
}

.dash-icon-bg {
    background-color: rgb(57, 57, 57);
}

.error-card {
    border-radius: 10px;
    background-color: rgb(255, 58, 98);
    color: white;
}

.error-card p {
    color: white;
}

.success-card {
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
}

.success-card p {
    color: white;
}


/* The custom-modal (background) */
.custom-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
}

/* custom-modal Content */
.custom-modal-content {
    border-radius: 10px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@media screen and (max-width: 720px) {
    .custom-modal-content {
        width: 80%;
    }
}

@media screen and (max-width: 420px) {
    #sb {
        display: hidden;
    }

}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: relative;

}


thead {
    font-weight: 700;
    background-color: #4CAF50;
    color: white;
}


th,
td {
    font-size: 12px;
    text-align: left;
    padding: 15px;
    text-transform: capitalize;
}

td i {

    padding: 2px;
    border-radius: 100%;
    background-color: #d0cece;
    color: rgb(61, 61, 61);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}